# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.cache/

# MyPy cache
.mypy_cache/

# VS Code settings
.vscode/

# Log files
*.log

# Local configuration files
.env
